<div class="mt-4">
    {{!-- {{#with course}} --}}
    <div class="card" style="width: 18rem;">
  <img src="{{course.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">{{course.description}}.</p>
  </div>
</div>
{{!-- {{/with}} --}}
</div>